*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    height: 24vh;
    /* border: 2px solid black; */
}

.header-logo{
    width: 120px;
}

nav{
    display: flex;
    gap: 20px;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

nav a:hover{
    color: rgb(198, 50, 166);
}

.visit-store{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid rgb(206, 101, 101);
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}

.visit-store:hover{
    background: linear-gradient(160deg, rgb(237, 25, 244), rgb(146, 28, 167));
    color: white;
}

.knowledgebase i {
    transition: rotate 0.2s ease-in-out;
}

.knowledgebase:hover i{
    rotate: 180deg;
}