*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.hero-bg-video {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -999;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    height: 24vh;
    /* border: 2px solid black; */
}

.header-logo{
    width: 120px;
}

nav{
    display: flex;
    gap: 20px;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

nav a:hover{
    color: rgb(198, 50, 166);
}

.visit-store{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid rgb(206, 101, 101);
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}

.visit-store:hover{
    background: linear-gradient(160deg, rgb(237, 25, 244), rgb(146, 28, 167));
    color: white;
}

.knowledgebase i {
    transition: rotate 0.2s ease-in-out;
}

.knowledgebase:hover i{
    rotate: 180deg;
}

.knowledgebase {
  position: relative;
}

/* .knowledgebase:hover .knowledge-base-container {
  display: block;
} */

.knowledge-base-container {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 2px solid blueviolet;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  display: none;
  top: 18px;
}

.knowledge-base-container a {
  /* display: block; */
  padding: 10px;
  text-decoration: none;
  color: black;
}

main {
  height: 76vh;
  padding: 10vh 5vw;
  font-size: 24px;
  
}

.search {
  margin-top: 50px;
  display: flex;
    justify-content: center;
}

.search-container {
  display: flex;
  gap: 8px;
  width: 180px;
  padding: 10px;
  color: white;
  background-color: black;
  border-radius: 80px;
}

.search-container input {
  border: none;
  background-color: black;
  color: white;
  width: 100%;
}

.category-section {
  text-align: center;
  margin-top: 100px;
    height: 100vh;
    width: 100%;
}
